<ion-header>
  <ion-navbar>
    <ion-title>
        Adventures page
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let item of lista">

    <ion-slides pager>
      <ion-slide *ngFor="let foto of item.gallery">
        <h2></h2>
        <img [src]="foto.image">
      </ion-slide>    
    </ion-slides>

    <ion-card-content>
      <ion-card-title>
        {{ item.title }}
      </ion-card-title>
      <p>
        {{ item.description }}
      </p>
      <p>Adventure: {{ item.adventures }}</p>
      <button ion-button (click)="details(item)">Details</button>
    </ion-card-content>
  </ion-card>
</ion-content>
